*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.formula-bar-container{
    height: 2rem;
    background-color: rgb(87, 144, 164);
}
.grid-container{
    height: calc( 100vh - ( 5rem + 2rem + 3rem ));
    background-color: rgb(210, 216, 210);
}

/* add sheets styling => container at bottom ---------------------------------------------------- */
.multi-sheets-container{
    height: 3rem;
    background-color: lightgreen;
    display: flex;
}
.add-sheet-button{
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(91, 202, 91);
}
.fa-plus{
    font-size: 1.5rem;
}
.sheets-container{
    display: flex;
    overflow: auto;
}
.sheet{
    height: 100%;
    min-width: 5rem;
    background-color: rgb(20, 227, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-sheet{
    background-color: rgb(184, 228, 184);
    border: 1px solid green;
}

/* menu container css  ***************************************************- */
.menu-container{
    height: 5rem;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.menu-container>*{
    height: 80%;
    width: 20rem;
    border-right: 1px solid;
}
/* font styling font family, BUI, size Color ------- */
.font-styling-container{
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.font-styling-container>*{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.styling-p1-container{
    
}
.font-family-container{
    width: 90%;
}
.font-style-container{
    width: 90%;
}
.BUI-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.active-icon{
    background-color: grey;
}
.BUI-container>*{
    width: 30%;
    height: 100%;
}
.font-size-container{
    width: 90%;
}
.font-color-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* alignment css --------------------------------- */
.alignment-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alignment-container>*{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-solid{
    font-size: 1.2rem;
}

/* new open save */
.new-open-save-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.new-open-save-container>*{
    font-size: 2rem;
}

/* cut copy paste */
.cut-copy-paste-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cut-copy-paste-container>*{
    font-size: 2rem;
}

